<div [formGroup]="form" class="row">
    <ng-container [formGroupName]="formGroupName" >
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" data-test="personal_data_name" error class="form-control" formControlName="name" placeholder="Enter your name" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" data-test="personal_data_surname" error class="form-control" formControlName="surname" placeholder="Enter your surname" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" data-test="personal_data_email" error class="form-control" formControlName="email" placeholder=" Enter your email" />
            </div>
        </div>
    </ng-container>
</div>