<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of basketList$ | async">
                <tr app-product-basket [product]="product"></tr>
            </ng-container>
        </tbody>
    </table>
</div>