<div class="container mt-5">

    <h1>Checkout</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-9">
                <app-personal-data formGroupName="personalData"></app-personal-data>
                <br>

                <app-personal-address formGroupName="personalAddress"></app-personal-address>
                <br>
                <br>

                <br>

            </div>
            <div class="col-md-3">
                <!-- <h5>Your Cart</h5>
                <ul class="list-group">
                    
                    <li class="list-group-item">  {{ cartItems.length }} Products</li>
                    <li class="list-group-item"> Total Price: ${{ totalPrice }}</li>
                </ul>
                <button data-test="checkout_payment" [disabled]="!form.valid" class="btn btn-primary large"> Pay
                </button> -->
                <div class="card mt-4">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">Your Cart</h6>
                        <p class="card-text">{{ cartItems.length }} Products</p>
                        <p class="card-text">Total Price: ${{ totalPrice }}</p>
                    </div>
                </div>
                <div class="mt-2">
                    <button style="width: 100%;" data-test="checkout_payment" [disabled]="!form.valid" class="btn btn-primary large"> Pay
                    </button> 
                </div>
            </div>
        </div>
    </form>
</div>