<div [formGroup]="form" class="row">
    <ng-container [formGroupName]="formGroupName">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" data-test="address_data_street" error class="form-control" formControlName="street" placeholder=" Enter your street" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" data-test="address_data_city" error class="form-control" formControlName="city" placeholder="Enter your city" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" data-test="address_data_state" error class="form-control" formControlName="state" placeholder="Enter your state" />
            </div>
        </div>
        
    </ng-container>
</div>