<div class="container mt-5">
    <ng-container *ngIf="cartItems$ | async as cartItems">
        <ng-container *ngIf="cartItems.length > 0; else basketEmpty;">
            <app-product-basket-list></app-product-basket-list>
            <p>Total price: ${{ cartTotalPrice$ | async }}</p>
            <div class="btn-checkout-container">
                <button data-test="go-checkout" class="btn btn-primary btn-lg " [disabled]="(userCanPurchase$ | async) === false"
                    [routerLink]="['/checkout']">
                    Go to Checkout
                </button>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #basketEmpty>
    <h1>Basket empty!</h1>
    <p>Please, add more products for continue purchasing!</p>
    <button class="btn btn-primary" [routerLink]="'/'">Go To Home</button>
</ng-template>