<div class="container mt-5">
    <ng-container *ngIf="cartItems$ | async as cartItems">
        <ng-container *ngIf="cartItems.length > 0; else basketEmpty;">
            <app-product-basket-list></app-product-basket-list>
            <p>Total price: ${{ cartTotalPrice$ | async }}</p>
            <button class="btn btn-primary" [disabled]="(userCanPurchase$ | async) === false" [routerLink]="['/checkout']" >
                Checkout
            </button>
        </ng-container>
    </ng-container>
</div>

<ng-template #basketEmpty>
    <h1>Basket empty!</h1>
    <p>Please, add more products for continue purchasing!</p>
    <button class="btn btn-primary" [routerLink]="'/'">Go To Home</button>
</ng-template>